dist: bionic
language: python
jobs:
  include:
  - os: linux
    python: 3.6
    sudo: true
    env:
    - BUILD=PYPI
  - os: linux
    python: 3.7
    sudo: true
  - os: linux
    python: 3.8
    sudo: true
install:
- pip install -r requirements/test.txt
- pip install pytest-cov
script:
- flake8
- pytest
after_success:
- bash <(curl -s https://codecov.io/bash)
deploy:
  skip_cleanup: true
  skip_existing: true
  provider: pypi
  user: __token__
  password:
    secure: Qw1ghYO60afm4t9ZI6IQvsnTK6jh2HDAQbDgT+UXCeOR/6PwSb6vp0b7aaq4DHU/JVlAJ4NT+pQ/4rkTd/NghLF9sgyvEvf8OXFeCshs7HXgsVbkPgoWpa3i4bG7fudq2P2D1suf9Z37n2OTOM7RZ1evVWr8AGhEcF5zmCG/dEvnr2g3E0T6IJ5HkvMO5o/V0lHGotvfuw5j7SOQrOrs9PMv0A+GkimY8/L+ciKCsNGjYhfjawF7SqGcviMd6NwHQAIbObK9AM0c9a9DG6PHZPkE4EA5EyQzfxRu51vrhpJUOKoxjhxLQt1PQyxTI3qXVzwDJdEMQl7NhXXkUToE+MJZ6zNXvGsqMxn+nb73WOSPw9K0MCYNaQKubjOAFOB894mnWSWg8eWtV0HYuS3agXwvTucH7SSnIntkR5C01iBpkSZpUmzxNvw4PsDaxZ6vYh9CK+DRxNKH4/cEPfbZcoA6uos0c4McjHfnZ3j6ImpwuY90ChZ1ChQ9Io/Qyk0yogOXLlDb177Ww16I1n54HWIWawYVkxjpds/eDvLScc795f0Tl//XJgSBFh7TFdPTHahMm++4sMjsKXaiNt6dJKbwJB38gAlhQlLHXS3sUHpdNSdmMTLo3DUd6MTcqpms0DqPwdGB9Eup7b/RBCydifEgep1ekBfyTAgN6kf7Otw=
  on:
    tags: true
    distributions: sdist
    condition: "$BUILD = PYPI"
    repo: cloudblue/connect-fluent-client
