[tool.poetry]
name = "connect-api-client"
version = "21.0.0"
description = "Connect Python OpenAPI Client"
authors = ["CloudBlue"]
license = "Apache-2.0"
packages = [
    { include = "cnct" }
]

[tool.poetry.dependencies]
python = "^3.6"
connect-markdown-renderer = "^1.0.0"
PyYAML = "^5.3.1"
requests = "^2.24.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
pytest-cov = "^2.10.1"
pytest-mock = "^3.3.1"
requests-mock = "^1.8.0"
coverage = {extras = ["toml"], version = "^5.3"}
flakehell = "^0.7.0"
Sphinx = "^3.2.1"
sphinx-rtd-theme = "^0.5.0"
sphinx-copybutton = "^0.3.0"
setuptools-scm = "^4.1.2"
isort = {extras = ["pyproject"], version = "^5.6.4"}
flake8-isort = "^4.0.0"
setuptools = "^50.3.2"
twine = "^3.2.0"
wheel = "^0.35.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = "tests"
addopts = "--cov=cnct --cov-report=term-missing:skip-covered --cov-report=html --cov-report=xml"
python_files = "test_*.py"
junit_family = "xunit2"
log_cli = true

[tool.coverage.run]
branch = true

[tool.coverage.report]
omit = [
    "*/migrations/*",
    "*/config/*",
    "*/settings/*",
    "*/manage.py",
    "*/wsgi.py",
    "*/urls.py"
]

exclude_lines = [
    "pragma: no cover",
    "def __str__",
    "def __repr__",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
]


[tool.flakehell]

exclude = [
    ".idea",
    ".vscode",
    ".git",
    "postgres_data",
    "*/migrations/*.py",
    "*/settings/*.py",
    "*/manage.py",
    "*.eggs",
    "*.egg",
    "tests/",
    "./docs/*.rst",
    "demo.ipynb"
]
show_source = true
max_line_length = 120
# application-import-names = "smarkets"

[tool.flakehell.plugins]
pycodestyle = ["+*", "-W503"]
pyflakes = ["+*"]
pylint = ["-*"]

[tool.isort]
line_length = 100
combine_as_imports = true
balanced_wrapping = true
lines_after_imports = 2
include_trailing_comma = true
not_skip = "__init__.py"
multi_line_output = 5

import_heading_stdlib = "built-in"
import_heading_thirdparty = "external"
import_heading_firstparty = "project"
import_heading_localfolder = "app"
