openapi: 3.0.3
info:
  title: CludBlue Connect API
  version: '21.0'
  description: "[CloudBlue Connect](https://connect.cloudblue.com)\nis a cloud end-to-end\
    \ supply automation platform that joins service vendor and service provider efforts\n\
    to reach their business goals most effectively and efficiently. For this purpose,\
    \ it provides a highly\ncustomizable service to arrange various integrated business\
    \ flows, including contract management, product\ninformation flow, ordering and\
    \ fulfillment, subscription management, and resource usage reporting.\n\nConnect\
    \ REST API provides you with the lowest-level access to the functionality of the\
    \ Connect Platform.\nAll other integration methods, like our Portals, [SDKs](https://connect.cloudblue.com/community/sdk/)\n\
    and [Extensions](https://connect.cloudblue.com/community/extensions/) are built\
    \ on top of the REST API layer.\n\nPlease visit our [Community Portal](https://connect.cloudblue.com/community)\
    \ for more information.\n\n\n\n> \u26A0 This file was generated on Wed Oct 21\
    \ 08:01:28 2020 (UTC) and may not be updated.\nPlease download the latest version\
    \ at\n[https://apispec.connect.cloudblue.com/connect-openapi30.yml](https://apispec.connect.cloudblue.com/connect-openapi30.yml]).\
    \ \n\n\n\n"
servers:
- url: https://api.connect.cloudblue.com/public/v1
security:
- Apikey0: []
paths:
  /subscriptions/assets:
    get:
      operationId: assets_list_listAssets
      description: ''
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.offset'
      - name: billing.next_date
        description: '**Filter for: billing.next_date**


          lookups: eq, ne, ge, gt, le, lt, null, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: billing.period.uom
        description: '**Filter for: billing.period.uom**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
      - name: connection.hub.id
        description: '**Filter for: connection.hub.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.hub.name
        description: '**Filter for: connection.hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.id
        description: '**Filter for: connection.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.id
        description: '**Filter for: connection.provider.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.name
        description: '**Filter for: connection.provider.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.type
        description: '**Filter for: connection.type**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
          - preview
      - name: connection.vendor.id
        description: '**Filter for: connection.vendor.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.vendor.name
        description: '**Filter for: connection.vendor.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: external_id
        description: '**Filter for: external_id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: external_uid
        description: '**Filter for: external_uid**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.id
        description: '**Filter for: product.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.name
        description: '**Filter for: product.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - processing
          - active
          - terminating
          - suspended
          - terminated
      - name: tiers.customer.id
        description: '**Filter for: tiers.customer.id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier1.id
        description: '**Filter for: tiers.tier1.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier2.id
        description: '**Filter for: tiers.tier2.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriptions.Assets'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/assets/{id}:
    get:
      operationId: assets_detail_retrieveAsset
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Asset.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.Asset'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests:
    get:
      operationId: requests_list_listBillingRequests
      description: ''
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.offset'
      - name: asset.billing.next_date
        description: '**Filter for: asset.billing.next_date**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: asset.billing.period.uom
        description: '**Filter for: asset.billing.period.uom**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
      - name: asset.connection.hub.id
        description: '**Filter for: asset.connection.hub.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.hub.name
        description: '**Filter for: asset.connection.hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.id
        description: '**Filter for: asset.connection.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.provider.id
        description: '**Filter for: asset.connection.provider.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.provider.name
        description: '**Filter for: asset.connection.provider.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.type
        description: '**Filter for: asset.connection.type**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
          - preview
      - name: asset.connection.vendor.id
        description: '**Filter for: asset.connection.vendor.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.vendor.name
        description: '**Filter for: asset.connection.vendor.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.external_id
        description: '**Filter for: asset.external_id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.external_uid
        description: '**Filter for: asset.external_uid**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.id
        description: '**Filter for: asset.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.marketplace.id
        description: '**Filter for: asset.marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.marketplace.name
        description: '**Filter for: asset.marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.product.id
        description: '**Filter for: asset.product.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.product.name
        description: '**Filter for: asset.product.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.customer.id
        description: '**Filter for: asset.tiers.customer.id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.tier1.id
        description: '**Filter for: asset.tiers.tier1.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.tier2.id
        description: '**Filter for: asset.tiers.tier2.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: period.from
        description: '**Filter for: period.from**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: period.to
        description: '**Filter for: period.to**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: period.uom
        description: '**Filter for: period.uom**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - vendor
          - provider
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
    post:
      operationId: requests_list_createBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions.NewBillingRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests/{id}:
    get:
      operationId: requests_detail_retrieveBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Request.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests/{id}/attributes:
    put:
      operationId: requests_attributes_putAttributesBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions.Attribute'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.Attribute'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'

    post:
      operationId: contract_terminate_postTerminateContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          description: ''

    get:
      operationId: partner_detail_retrievePartner
      description: ''
      tags:
      - Partners
      parameters:
      - name: partner_id
        in: path
        required: true
        description: A unique value identifying this partner.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Partner'
          description: ''
  /products:
    summary: 'The Products collection exposes operations to manage the product catalog.'
    description: 'This collection has a lot of subcollections, for this reason I choose it for the demo.'
    get:
      operationId: products_list_listProducts
      description: ''
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: category.id
        description: '**Filter for: category.id**


          lookups: eq'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.id
        description: '**Filter for: owner.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.name
        description: '**Filter for: owner.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: replacement.id
        description: '**Filter for: replacement.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: sourcing.marketplaces
        description: '**Filter for: sourcing.marketplaces**


          lookups: eq, ne, ilike, null, in'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - indevelopment
          - oncertification
          - published
          - initializationfailed
          - deleted
          - endofsale
      - name: visibility.catalog
        description: '**Filter for: visibility.catalog**


          lookups: eq'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: visibility.listing
        description: '**Filter for: visibility.listing**


          lookups: eq'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: visibility.owner
        description: '**Filter for: visibility.owner**


          lookups: eq'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: visibility.syndication
        description: '**Filter for: visibility.syndication**


          lookups: eq'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Product'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: products_list_createProductCreate
      description: ''
      tags:
      - Products
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductCreate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{id}:
    summary: 'Product item'
    description: 'This item contains actions and nested collection about a certain resouce.'
    get:
      operationId: products_detail_retrieveProduct
      description: ''
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Product'
          description: ''
    put:
      operationId: products_detail_updateProductUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: products_detail_destroyProduct
      description: ''
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{id}/endsale:
    summary: 'Mark a product as **end of sale**.'
    description: 'Description of the _endsale_ action.'
    post:
      operationId: products_endsale_postEndsaleProduct
      description: ''
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replacement:
                  type: object
                  properties:
                    id:
                      type: string
                end_of_sale_notes:
                  type: string
      responses:
        '200':
          description: ''
  /products/{id}/resumesale:
    post:
      operationId: products_resumesale_postResumesaleProduct
      description: ''
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: ''
  /products/{product_id}/actions:
    get:
      operationId: product_actions_list_listProductAction
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: scope
        description: '**Filter for: scope**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - asset
          - tier1
          - tier2
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductActions'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_actions_list_createProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductActions'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductActions'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/actions/regeneratesecret:
    post:
      operationId: product_actions_regeneratesecret_postRegeneratesecretRegenerateSecret
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.RegenerateSecret'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.RegenerateSecret'
          description: ''
  /products/{product_id}/actions/{id}:
    get:
      operationId: product_actions_detail_retrieveProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductActions'
          description: ''
    put:
      operationId: product_actions_detail_updateProductActionUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductActionUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductActionUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_actions_detail_destroyProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/actions/{id}/actionLink:
    get:
      operationId: product_actions_get_action_link_getGet_action_linkProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    format: uri
          description: ''
  /products/{product_id}/agreements:
    get:
      operationId: product_agreements_list_listProductSourcingAgreements
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.id
        description: '**Filter for: owner.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.name
        description: '**Filter for: owner.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parent.id
        description: '**Filter for: parent.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parent.name
        description: '**Filter for: parent.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parent.type
        description: '**Filter for: parent.type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - distribution
          - program
          - service
          - syndication
          - referral
      - name: product.id
        description: '**Filter for: product.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.name
        description: '**Filter for: product.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement.id
        description: '**This filter is deprecated, please use parent.id instead**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      - name: agreement.name
        description: '**This filter is deprecated, please use parent.name instead**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      - name: contract.id
        description: '**Filter for: contract.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      - name: contract.status
        description: '**Filter for: contract.status**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
          enum:
          - new
          - enrolling
          - pending
          - active
          - terminated
          - rejected
      - name: sourcing_marketplace.id
        description: '**This filter is deprecated, please use marketplace.id instead**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      - name: sourcing_marketplace.name
        description: '**This filter is deprecated, please use marketplace.name instead**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      - name: target_marketplace.id
        description: '**Filter for: target_marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      - name: target_marketplace.name
        description: '**Filter for: target_marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductSourcingAgreement'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /products/{product_id}/agreements/{id}:
    get:
      operationId: product_agreements_detail_retrieveProductSourcingAgreement
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductSourcingAgreement'
          description: ''
  /products/{product_id}/configurations:
    get:
      operationId: product_configurations_list_listConfigurationDataReads
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: item.id
        description: '**Filter for: item.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: item.name
        description: '**Filter for: item.name**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parameter.constraints.required
        description: '**Filter for: parameter.constraints.required**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: parameter.constraints.shared
        description: '**Filter for: parameter.constraints.shared**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - view
          - edit
      - name: parameter.id
        description: '**Filter for: parameter.id**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parameter.scope
        description: '**Filter for: parameter.scope**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parameter.title
        description: '**Filter for: parameter.title**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: value
        description: '**Filter for: value**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ConfigurationDataRead'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_configurations_list_createConfigurationDataWrite
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ConfigurationDataWrite'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ConfigurationDataWrite'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/connections:
    get:
      operationId: product_connections_list_listConnections
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: hub.id
        description: '**Filter for: hub.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: HB-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.instance.id
        description: '**Filter for: hub.instance.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.name
        description: '**Filter for: hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Connection'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /products/{product_id}/connections/{id}:
    get:
      operationId: product_connections_detail_retrieveConnection
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Connection'
          description: ''
  /products/{product_id}/items:
    summary: 'Manage the items of a product.'
    description: 'You can list, create and update items for a product.'
    get:
      operationId: product_items_list_listUiItems
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: app.id
        description: '**Filter for: app.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: commitment.count
        description: '**Filter for: commitment.count**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: description.value
        description: '**Filter for: description.value**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: display_name
        description: '**Filter for: display_name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: dynamic
        description: '**Filter for: dynamic**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.saleended.at
        description: '**Filter for: events.saleended.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: frozen
        description: '**Filter for: frozen**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: item_type
        description: '**Filter for: item_type**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Reservation
          - PPU
      - name: local_id
        description: '**Filter for: local_id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: mpn
        description: '**Filter for: mpn**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: period
        description: '**Filter for: period**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Monthly
          - Yearly
          - years_2
          - years_3
          - years_4
          - years_5
          - OneTime
      - name: replacement.id
        description: '**Filter for: replacement.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - published
          - endofsale
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Reservation
          - PPU
      - name: unit.title
        description: '**Filter for: unit.title**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: usage_data_type
        description: '**Filter for: usage_data_type**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Integer
          - Decimal(1)
          - Decimal(2)
          - Decimal(4)
          - Decimal(8)
      - name: verbose_id
        description: '**Filter for: verbose_id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: version
        description: '**Filter for: version**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.UIItem'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_items_list_createItemCreate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ItemCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ItemCreate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/items/{verbose_id}:
    get:
      operationId: product_items_detail_retrieveUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.UIItem'
          description: ''
    put:
      operationId: product_items_detail_updateItemUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ItemUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ItemUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_items_detail_destroyUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/items/{verbose_id}/endsale:
    post:
      operationId: product_items_endsale_postEndsaleUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replacement:
                  type: object
                  properties:
                    id:
                      type: string
                end_of_sale_notes:
                  type: string
      responses:
        '200':
          description: ''
  /products/{product_id}/items/{verbose_id}/resumesale:
    post:
      operationId: product_items_resumesale_postResumesaleUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: ''
  /products/{product_id}/localizations:
    get:
      operationId: product_localizations_list_listProductLocalizationsReads
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductLocalizationsRead'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_localizations_list_createProductLocalizationsCreate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductLocalizationsCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductLocalizationsCreate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/localizations/{locale}:
    get:
      operationId: product_localizations_detail_retrieveProductLocalizationsRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: locale
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductLocalizationsRead'
          description: ''
    delete:
      operationId: product_localizations_detail_destroyProductLocalizationsRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: locale
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/localizations/{locale}/po:
    get:
      operationId: product_localizations_po_getDownloadProductLocalizationsRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: locale
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            text/x-gettext-translation:
              schema:
                type: string
          description: ''
    post:
      operationId: product_localizations_po_postPoPOFile
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: locale
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.POFile'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.POFile'
          description: ''
  /products/{product_id}/media:
    get:
      operationId: product_media_list_listProductVersionMediaReads
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: position
        description: '**Filter for: position**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - image
          - video
      - name: url
        description: '**Filter for: url**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    thumbnail:
                      type: string
                    url:
                      type: string
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_media_list_createProductVersionMediaCreate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductVersionMediaCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductVersionMediaCreate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/media/{id}:
    get:
      operationId: product_media_detail_retrieveProductVersionMediaRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  thumbnail:
                    type: string
                  url:
                    type: string
          description: ''
    put:
      operationId: product_media_detail_updateProductVersionMediaUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductVersionMediaUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductVersionMediaUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_media_detail_destroyProductVersionMediaRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/parameters:
    get:
      operationId: product_parameters_list_listParameterReads
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: constraints.hidden
        description: '**Filter for: constraints.hidden**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: constraints.reconciliation
        description: '**Filter for: constraints.reconciliation**


          lookups: eq'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: constraints.required
        description: '**Filter for: constraints.required**


          lookups: eq, in'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: constraints.shared
        description: '**Filter for: constraints.shared**


          lookups: eq, null, in'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: constraints.unique
        description: '**Filter for: constraints.unique**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: phase
        description: '**Filter for: phase**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - configuration
          - fulfillment
          - ordering
      - name: position
        description: '**Filter for: position**


          lookups: eq, ne, ge, gt, le, lt, null, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: scope
        description: '**Filter for: scope**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - asset
          - tier1
          - tier2
          - product
          - item
          - marketplace
          - item_marketplace
      - name: title
        description: '**Filter for: title**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - text
          - dropdown
          - password
          - email
          - checkbox
          - subdomain
          - domain
          - address
          - phone
          - object
          - url
          - choice
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ParameterRead'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_parameters_list_createParameterCreate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ParameterCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ParameterRead'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/parameters/{verbose_id}:
    get:
      operationId: product_parameters_detail_retrieveParameterRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ParameterRead'
          description: ''
    put:
      operationId: product_parameters_detail_updateParameterUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ParameterUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ParameterRead'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_parameters_detail_destroyParameterRead
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/templates:
    get:
      operationId: product_templates_list_listProductTemplate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: scope
        description: '**Filter for: scope**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - asset
          - tier1
          - tier2
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - inquire
          - fulfillment
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductTemplates'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_templates_list_createProductTemplates
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductTemplates'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductTemplates'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/templates/{id}:
    get:
      operationId: product_templates_detail_retrieveProductTemplates
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductTemplates'
          description: ''
    put:
      operationId: product_templates_detail_updateProductTemplatesUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductTemplatesUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductTemplatesUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_templates_detail_destroyProductTemplates
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/templates/{id}/preview:
    get:
      operationId: product_templates_preview_getPreviewProductTemplates
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: ''
  /products/{product_id}/templates/{id}/render:
    get:
      operationId: product_templates_render_getRenderProductTemplates
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: ''
  /products/{product_id}/versions:
    get:
      operationId: product_versions_list_listProducts
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Product'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_versions_list_createProductVersionCreateUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/versions/{release}:
    get:
      operationId: product_versions_detail_retrieveProduct
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: release
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Product'
          description: ''
    put:
      operationId: product_versions_detail_updateProductVersionCreateUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: release
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductVersionCreateUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductVersionCreateUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
  /products/{product_id}/versions/{release}/build:
    post:
      operationId: product_versions_build_postBuildProduct
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: release
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '202':
          description: ''
  /products/{product_id}/versions/{version_release}/actions:
    get:
      operationId: product_version_actions_list_listProductAction
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: scope
        description: '**Filter for: scope**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - asset
          - tier1
          - tier2
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductActions'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_version_actions_list_createProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductActions'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductActions'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/versions/{version_release}/actions/regeneratesecret:
    post:
      operationId: product_version_actions_regeneratesecret_postRegeneratesecretRegenerateSecret
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.RegenerateSecret'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.RegenerateSecret'
          description: ''
  /products/{product_id}/versions/{version_release}/actions/{id}:
    get:
      operationId: product_version_actions_detail_retrieveProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductActions'
          description: ''
    put:
      operationId: product_version_actions_detail_updateProductActionUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductActionUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductActionUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_version_actions_detail_destroyProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/versions/{version_release}/actions/{id}/actionLink:
    get:
      operationId: product_version_actions_get_action_link_getGet_action_linkProductActions
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    format: uri
          description: ''
  /products/{product_id}/versions/{version_release}/connections:
    get:
      operationId: product_version_connections_list_listConnections
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: hub.id
        description: '**Filter for: hub.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: HB-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.instance.id
        description: '**Filter for: hub.instance.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.name
        description: '**Filter for: hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Connection'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /products/{product_id}/versions/{version_release}/connections/{id}:
    get:
      operationId: product_version_connections_detail_retrieveConnection
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Connection'
          description: ''
  /products/{product_id}/versions/{version_release}/items:
    get:
      operationId: product_version_items_list_listUiItems
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: app.id
        description: '**Filter for: app.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: commitment.count
        description: '**Filter for: commitment.count**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: description.value
        description: '**Filter for: description.value**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: display_name
        description: '**Filter for: display_name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: dynamic
        description: '**Filter for: dynamic**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.saleended.at
        description: '**Filter for: events.saleended.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: frozen
        description: '**Filter for: frozen**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: item_type
        description: '**Filter for: item_type**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Reservation
          - PPU
      - name: local_id
        description: '**Filter for: local_id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: mpn
        description: '**Filter for: mpn**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: period
        description: '**Filter for: period**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Monthly
          - Yearly
          - years_2
          - years_3
          - years_4
          - years_5
          - OneTime
      - name: replacement.id
        description: '**Filter for: replacement.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - published
          - endofsale
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Reservation
          - PPU
      - name: unit.title
        description: '**Filter for: unit.title**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: usage_data_type
        description: '**Filter for: usage_data_type**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - Integer
          - Decimal(1)
          - Decimal(2)
          - Decimal(4)
          - Decimal(8)
      - name: verbose_id
        description: '**Filter for: verbose_id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: version
        description: '**Filter for: version**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.UIItem'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_version_items_list_createItemCreate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ItemCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ItemCreate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /products/{product_id}/versions/{version_release}/items/{verbose_id}:
    get:
      operationId: product_version_items_detail_retrieveUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.UIItem'
          description: ''
    put:
      operationId: product_version_items_detail_updateItemUpdate
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ItemUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ItemUpdate'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: product_version_items_detail_destroyUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /products/{product_id}/versions/{version_release}/items/{verbose_id}/endsale:
    post:
      operationId: product_version_items_endsale_postEndsaleUIItem
      description: ''
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version_release
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: verbose_id
        in: path
        required: true
[...]
