openapi: 3.0.3
info:
  title: CloudBlue Connect API
  version: '22.0'
  description: "[CloudBlue Connect](https://connect.cloudblue.com)\nis a cloud end-to-end\
    \ supply automation platform that joins service vendor and service provider efforts\n\
    to reach their business goals most effectively and efficiently. For this purpose,\
    \ it provides a highly\ncustomizable service to arrange various integrated business\
    \ flows, including contract management, product\ninformation flow, ordering and\
    \ fulfillment, subscription management, and resource usage reporting.\n\nConnect\
    \ REST API provides you with the lowest-level access to the functionality of the\
    \ Connect Platform.\nAll other integration methods, like our Portals, [SDKs](https://connect.cloudblue.com/community/sdk/)\n\
    and [Extensions](https://connect.cloudblue.com/community/extensions/) are built\
    \ on top of the REST API layer.\n\nPlease visit our [Community Portal](https://connect.cloudblue.com/community)\
    \ for more information.\n\n\n\n> \u26A0 This file was generated on Thu Mar 11\
    \ 12:20:48 2021 (UTC) and may not be updated.\nPlease download the latest version\
    \ at\n[https://apispec.connect.cloudblue.com/connect-openapi30.yml](https://apispec.connect.cloudblue.com/connect-openapi30.yml]).\n"
servers:
- url: https://api.connect.cloudblue.com/public/v1
security:
- Apikey0: []
paths:
  /subscriptions/assets:
    get:
      operationId: assets_list_listAssets
      description: ''
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.offset'
      - name: billing.next_date
        description: '**Filter for: billing.next_date**


          lookups: eq, ne, ge, gt, le, lt, null, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: billing.period.uom
        description: '**Filter for: billing.period.uom**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
      - name: connection.hub.id
        description: '**Filter for: connection.hub.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.hub.name
        description: '**Filter for: connection.hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.id
        description: '**Filter for: connection.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.id
        description: '**Filter for: connection.provider.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.name
        description: '**Filter for: connection.provider.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.type
        description: '**Filter for: connection.type**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
          - preview
      - name: connection.vendor.id
        description: '**Filter for: connection.vendor.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.vendor.name
        description: '**Filter for: connection.vendor.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.id
        description: '**Filter for: contract.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: CRD-00000-00000-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: external_id
        description: '**Filter for: external_id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: external_uid
        description: '**Filter for: external_uid**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: MP-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.id
        description: '**Filter for: product.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.name
        description: '**Filter for: product.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - processing
          - active
          - terminating
          - suspended
          - terminated
      - name: tiers.customer.id
        description: '**Filter for: tiers.customer.id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier1.id
        description: '**Filter for: tiers.tier1.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier2.id
        description: '**Filter for: tiers.tier2.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriptions.Assets'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/assets/{id}:
    get:
      operationId: assets_detail_retrieveAsset
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Asset.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.Asset'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests:
    get:
      operationId: requests_list_listBillingRequests
      description: ''
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.offset'
      - name: asset.billing.next_date
        description: '**Filter for: asset.billing.next_date**


          lookups: eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: asset.billing.period.uom
        description: '**Filter for: asset.billing.period.uom**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
      - name: asset.connection.hub.id
        description: '**Filter for: asset.connection.hub.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.hub.name
        description: '**Filter for: asset.connection.hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.id
        description: '**Filter for: asset.connection.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.provider.id
        description: '**Filter for: asset.connection.provider.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.provider.name
        description: '**Filter for: asset.connection.provider.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.type
        description: '**Filter for: asset.connection.type**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
          - preview
      - name: asset.connection.vendor.id
        description: '**Filter for: asset.connection.vendor.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.vendor.name
        description: '**Filter for: asset.connection.vendor.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.contract.id
        description: '**Filter for: asset.contract.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: CRD-00000-00000-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.external_id
        description: '**Filter for: asset.external_id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.external_uid
        description: '**Filter for: asset.external_uid**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.id
        description: '**Filter for: asset.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.marketplace.id
        description: '**Filter for: asset.marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: MP-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.marketplace.name
        description: '**Filter for: asset.marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.product.id
        description: '**Filter for: asset.product.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.product.name
        description: '**Filter for: asset.product.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.customer.id
        description: '**Filter for: asset.tiers.customer.id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.tier1.id
        description: '**Filter for: asset.tiers.tier1.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.tier2.id
        description: '**Filter for: asset.tiers.tier2.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: period.from
        description: '**Filter for: period.from**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: period.to
        description: '**Filter for: period.to**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: period.uom
        description: '**Filter for: period.uom**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - vendor
          - provider
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
    post:
      operationId: requests_list_createBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions.NewBillingRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests/{id}:
    get:
      operationId: requests_detail_retrieveBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Request.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests/{id}/attributes:
    put:
      operationId: requests_attributes_putAttributesBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions.Attribute'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.Attribute'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /agreements:
    get:
      operationId: agreement_list_listAgreements
      description: ''
      tags:
      - Agreements
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: active
        description: '**Filter for: active**


          lookups: eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: created
        description: '**Filter for: created**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: forms.id
        description: '**Filter for: forms.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: forms__type
        description: '**Filter for: forms__type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - enroll
          - product
          - item
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__id
        description: '**Filter for: marketplace__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__name
        description: '**Filter for: marketplace__name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.id
        description: '**Filter for: owner.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.name
        description: '**Filter for: owner.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner__id
        description: '**Filter for: owner__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner__name
        description: '**Filter for: owner__name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: title
        description: '**Filter for: title**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - distribution
          - program
          - service
          - syndication
          - referral
      - name: updated
        description: '**Filter for: updated**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Agreement'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: agreement_list_createAgreementCreate
      description: ''
      tags:
      - Agreements
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.AgreementCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Agreement'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/agreements:
    get:
      operationId: agreement_agreements_list_listAgreementReads
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.AgreementRead'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: agreement_agreements_list_createAgreementCreate
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.AgreementCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.AgreementRead'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/contracts:
    get:
      operationId: agreement_contracts_list_listContracts
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Contract'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: agreement_contracts_list_createContract
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Contract'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Contract'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/versions:
    get:
      operationId: agreement_versions_list_listAgreementVersions
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.AgreementVersion'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: agreement_versions_list_createAgreementVersionCreate
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.AgreementVersionCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.AgreementVersion'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/versions/{version}:
    get:
      operationId: agreement_versions_detail_retrieveAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.AgreementVersion'
          description: ''
    delete:
      operationId: agreement_versions_detail_destroyAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /agreements/{agreement_id}/versions/{version}/activate:
    post:
      operationId: agreement_versions_activate_postActivateAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: ''
  /agreements/{agreement_id}/versions/{version}/document:
    get:
      operationId: agreement_versions_document_getDocumentAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '302':
          description: ''
  /agreements/{id}:
    get:
      operationId: agreement_detail_retrieveAgreement
      description: Get base object or redirect to object version.
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Agreement'
          description: ''
    put:
      operationId: agreement_detail_updateAgreement
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Agreement'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Agreement'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: agreement_detail_destroyAgreement
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /agreements/{id}/document:
    get:
      operationId: agreement_document_getDocumentAgreement
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '302':
          description: ''
  /assets:
    get:
      operationId: asset_list_listAssets
      description: ''
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/dp.RQL1000Pagination.limit'
      - $ref: '#/components/parameters/dp.RQL1000Pagination.offset'
      - name: connection.hub.id
        description: '**Filter for: connection.hub.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: HB-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.id
        description: '**Filter for: connection.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: CT-0000-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.id
        description: '**Filter for: connection.provider.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.name
        description: '**Filter for: connection.provider.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.type
        description: '**Filter for: connection.type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
      - name: connection.vendor.id
        description: '**Filter for: connection.vendor.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.vendor.name
        description: '**Filter for: connection.vendor.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.id
        description: '**Filter for: contract.id**


          lookups: eq, ne, like, ilike, null, in, out

          null: CRD-00000-00000-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: created
        description: '**Filter for: created**


          lookups: gt, lt

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: external_id
        description: '**Filter for: external_id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: external_name
        description: '**Filter for: external_name**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: external_uid
        description: '**Filter for: external_uid**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.name
        description: '**Filter for: hub.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true

          null: MP-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.id
        description: '**Filter for: params.id**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.value
        description: '**Filter for: params.value**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.id
        description: '**Filter for: product.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.title
        description: '**Filter for: product.title**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - processing
          - active
          - terminating
          - suspended
          - terminated
      - name: tiers.customer.id
        description: '**Filter for: tiers.customer.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.name
        description: '**Filter for: tiers.customer.name**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier1.id
        description: '**Filter for: tiers.tier1.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier2.id
        description: '**Filter for: tiers.tier2.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: updated
        description: '**Filter for: updated**


          lookups: gt, lt

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Asset'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /assets/{asset_id}/requests:
    get:
      operationId: asset_requests_list_listAssets
      description: ''
      tags:
      - Assets
      parameters:
      - name: asset_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQL1000Pagination.limit'
      - $ref: '#/components/parameters/dp.RQL1000Pagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.RequestReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /assets/{id}:
    get:
      operationId: asset_detail_retrieveAsset
      description: ''
      tags:
      - Assets
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this asset.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Asset'
          description: ''
  /categories:
    get:
      operationId: category_list_listListCategories
      description: ''
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/dp.CategoriesPagination.limit'
      - $ref: '#/components/parameters/dp.CategoriesPagination.offset'
      - name: family.id
        description: '**Filter for: family.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parent.id
        description: '**Filter for: parent.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ListCategory'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /categories/{id}:
    get:
      operationId: category_detail_retrieveCategory
      description: ''
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Category'
          description: ''
  /contracts:
    get:
      operationId: contract_list_listContracts
      description: ''
      tags:
      - Contracts
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: agreement.id
        description: '**Filter for: agreement.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement.name
        description: '**Filter for: agreement.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement.owner.id
        description: '**Filter for: agreement.owner.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement__id
        description: '**Filter for: agreement__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement__name
        description: '**Filter for: agreement__name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement__owner__id
        description: '**Filter for: agreement__owner__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.created.by.id
        description: '**Filter for: events.created.by.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.by.name
        description: '**Filter for: events.created.by.name**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.signed.by.id
        description: '**Filter for: events.signed.by.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.signed.by.name
        description: '**Filter for: events.signed.by.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: issuer.id
        description: '**Filter for: issuer.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: issuer.name
        description: '**Filter for: issuer.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: kind
        description: '**Filter for: kind**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - production
          - test
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: '**Filter for: marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__id
        description: '**Filter for: marketplace__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__name
        description: '**Filter for: marketplace__name**


          lookups: eq, ne, like, ilike, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.id
        description: '**Filter for: owner.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.name
        description: '**Filter for: owner.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner__id
        description: '**Filter for: owner__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner__name
        description: '**Filter for: owner__name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: partner.id
        description: '**Filter for: partner.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: referral.agreement.id
        description: '**Filter for: referral.agreement.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: sourcing.listing.id
        description: '**Filter for: sourcing.listing.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: sourcing.marketplace.id
        description: '**Filter for: sourcing.marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: sourcing.marketplace.name
        description: '**Filter for: sourcing.marketplace.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: sourcing.product.id
        description: '**Filter for: sourcing.product.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: sourcing.product.name
        description: '**Filter for: sourcing.product.name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - new
          - enrolling
          - pending
          - active
          - terminated
          - rejected
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - distribution
          - program
          - service
          - syndication
          - referral
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Contract'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /contracts/{contract_id}/data:
    get:
      operationId: enroll_distribution_data_list_listDistributionDatas
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.DistributionData'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: enroll_distribution_data_list_createDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionData'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /contracts/{contract_id}/data/products:
    get:
      operationId: product_distribution_data_list_listDistributionDatas
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.DistributionData'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: product_distribution_data_list_createDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionData'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /contracts/{contract_id}/data/products/{id}:
    get:
      operationId: product_distribution_data_detail_retrieveDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: A unique value identifying this distribution data.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
    put:
      operationId: product_distribution_data_detail_updateDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: A unique value identifying this distribution data.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionData'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
  /contracts/{contract_id}/data/products/{product_id}/items:
    get:
      operationId: item_distribution_data_list_listDistributionDatas
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.DistributionData'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: item_distribution_data_list_createDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionData'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /contracts/{contract_id}/data/products/{product_id}/items/{id}:
    get:
      operationId: item_distribution_data_detail_retrieveDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: A unique value identifying this distribution data.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
    put:
      operationId: item_distribution_data_detail_updateDistributionData
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: A unique value identifying this distribution data.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionData'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionData'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
  /contracts/{contract_id}/versions:
    get:
      operationId: contract_versions_list_listContractVersions
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ContractVersion'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /contracts/{contract_id}/versions/{version__version}:
    get:
      operationId: contract_versions_detail_retrieveContractVersion
      description: ''
      tags:
      - Contracts
      parameters:
      - name: contract_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version__version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ContractVersion'
          description: ''
  /contracts/{id}:
    get:
      operationId: contract_detail_retrieveContract
      description: Get base object or redirect to object version.
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Contract'
          description: ''
    put:
      operationId: contract_detail_updateContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Contract'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Contract'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: contract_detail_destroyContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '204':
          description: ''
  /contracts/{id}/enroll:
    post:
      operationId: contract_enroll_postEnrollContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /contracts/{id}/refine:
    post:
      operationId: contract_refine_postRefineContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /contracts/{id}/reject:
    post:
      operationId: contract_reject_postRejectContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /contracts/{id}/sign:
    post:
      operationId: contract_sign_postSignContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /contracts/{id}/terminate:
    post:
      operationId: contract_terminate_postTerminateContract
      description: ''
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Contract.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /countries:
    get:
      operationId: country_list_listCountries
      description: ''
      tags:
      - Marketplaces
      parameters:
      - $ref: '#/components/parameters/dp.CountryPagination.limit'
      - $ref: '#/components/parameters/dp.CountryPagination.offset'
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Country'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /countries/{id}:
    get:
      operationId: country_detail_retrieveCountry
      description: ''
      tags:
      - Marketplaces
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Country.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Country'
          description: ''
  /forms:
    get:
      operationId: agreement_forms_list_listAgreementForms
      description: ''
      tags:
      - Agreements
      parameters:
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - enroll
          - product
          - item
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.DistributionAgreementForms'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: agreement_forms_list_createAgreementForm
      description: ''
      tags:
      - Agreements
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionAgreementForms'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionAgreementForms'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /forms/{form_id}/versions:
    get:
      operationId: agreement_form_versions_list_listDistributionAgreementFormVersions
      description: ''
      tags:
      - Agreements
      parameters:
      - name: form_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.DistributionAgreementFormVersion'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /forms/{form_id}/versions/{version}:
    get:
      operationId: agreement_form_versions_detail_retrieveDistributionAgreementFormVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: form_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionAgreementFormVersion'
          description: ''
  /forms/{id}:
    get:
      operationId: agreement_forms_detail_retrieveAgreementForm
      description: Get base object or redirect to object version.
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this agreement form.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionAgreementForms'
          description: ''
    put:
      operationId: agreement_forms_detail_updateAgreementForm
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this agreement form.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.DistributionAgreementForms'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.DistributionAgreementForms'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: agreement_forms_detail_destroyAgreementForm
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this agreement form.
        schema:
          type: string
      responses:
        '204':
          description: ''
  /hubs:
    get:
      operationId: hubs_list_listHubs
      description: ''
      tags:
      - Hubs
      parameters:
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: events.created.at
        description: '**Filter for: events.created.at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: '**Filter for: events.updated.at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events__created__at
        description: '**Filter for: events__created__at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events__updated__at
        description: '**Filter for: events__updated__at**


          lookups: eq, ne, ge, gt, le, lt, null, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: instance.id
        description: '**Filter for: instance.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: instance.type
        description: '**Filter for: instance.type**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - oa
          - cb
          - api
      - name: instance__id
        description: '**Filter for: instance__id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: instance__type
        description: '**Filter for: instance__type**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - oa
          - cb
          - api
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: stats.connections
        description: '**Filter for: stats.connections**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.marketplaces
        description: '**Filter for: stats.marketplaces**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats__connections
        description: '**Filter for: stats__connections**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats__marketplaces
        description: '**Filter for: stats__marketplaces**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Hub'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: hubs_list_createHub
      description: ''
      tags:
      - Hubs
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.HubCreateResponse'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.HubCreateResponse'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /hubs/{hub_id}/connections:
    get:
      operationId: hub_connections_list_listConnectionReferences
      description: ''
      tags:
      - Hubs
      parameters:
      - name: hub_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: created_at
        description: '**Filter for: created_at**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: product.name
        description: '**Filter for: product.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product__name
        description: '**Filter for: product__name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ConnectionReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /hubs/{hub_id}/marketplaces:
    get:
      operationId: hub_marketplaces_list_listHubReferenceMarketplaces
      description: ''
      tags:
      - Hubs
      parameters:
      - name: hub_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: name
        description: '**Filter for: name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.HubReferenceMarketplace'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /hubs/{id}:
    get:
      operationId: hubs_detail_retrieveHub
      description: ''
      tags:
      - Hubs
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this hub.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Hub'
          description: ''
    put:
      operationId: hubs_detail_updateHub
      description: ''
      tags:
      - Hubs
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this hub.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Hub'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Hub'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: hubs_detail_destroyHub
      description: ''
      tags:
      - Hubs
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this hub.
        schema:
          type: string
      responses:
        '204':
          description: ''
  /listing-requests:
    get:
      operationId: listingrequest_list_listListingRequests
      description: ''
      tags:
      - Listings
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: contract__id
        description: '**Filter for: contract__id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract__name
        description: '**Filter for: contract__name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: created
        description: '**Filter for: created**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.contract.id
        description: '**Filter for: listing.contract.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.contract.marketplace.id
        description: '**Filter for: listing.contract.marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.contract.marketplace.name
        description: '**Filter for: listing.contract.marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.contract.name
        description: '**Filter for: listing.contract.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.id
        description: '**Filter for: listing.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.marketplace.id
        description: '**Filter for: listing.marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.marketplace.name
        description: '**Filter for: listing.marketplace.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.product.id
        description: '**Filter for: listing.product.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.product.name
        description: '**Filter for: listing.product.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.product.version
        description: '**Filter for: listing.product.version**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: listing.provider.id
        description: '**Filter for: listing.provider.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.provider.name
        description: '**Filter for: listing.provider.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.vendor.id
        description: '**Filter for: listing.vendor.id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing.vendor.name
        description: '**Filter for: listing.vendor.name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: listing__id
        description: '**Filter for: listing__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__id
        description: '**Filter for: marketplace__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__name
        description: '**Filter for: marketplace__name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.id
        description: '**Filter for: product.id**


          lookups: eq, ne, like, ilike, null, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.name
        description: '**Filter for: product.name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.version
        description: '**Filter for: product.version**


          lookups: eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: product__id
        description: '**Filter for: product__id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product__name
        description: '**Filter for: product__name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product__version
        description: '**Filter for: product__version**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: provider__id
        description: '**Filter for: provider__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: provider__name
        description: '**Filter for: provider__name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: state
        description: '**Filter for: state**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - reviewing
          - deploying
          - canceled
          - completed
      - name: status
        description: '**Filter for: status**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - unlisted
          - listed
      - name: type
        description: '**Filter for: type**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - new
          - remove
      - name: updated
        description: '**Filter for: updated**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: vendor__id
        description: '**Filter for: vendor__id**


          lookups: eq, ne, like, ilike, null, in, out

          search: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: vendor__name
        description: '**Filter for: vendor__name**


          lookups: eq, ne, like, ilike, in, out

          search: true

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ListingRequest'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: listingrequest_list_createListingRequest
      description: ''
      tags:
      - Listings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - new
                    - update
                    - remove
                  note:
                    type: string
                  product_id:
                    type: string
                  contract_id:
                    type: string
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - update
                    - remove
                  note:
                    type: string
                  listing_id:
                    type: string
              discriminator:
                propertyName: type
        description: ''
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ListingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /listing-requests/{id}:
    get:
      operationId: listingrequest_detail_retrieveListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ListingRequest'
          description: ''
  /listing-requests/{id}/assign:
    post:
      operationId: listingrequest_assign_postAssignListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listing-requests/{id}/cancel:
    post:
      operationId: listingrequest_cancel_postCancelListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listing-requests/{id}/complete:
    post:
      operationId: listingrequest_complete_postCompleteListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listing-requests/{id}/deploy:
    post:
      operationId: listingrequest_deploy_postDeployListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listing-requests/{id}/refine:
    post:
      operationId: listingrequest_refine_postRefineListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listing-requests/{id}/submit:
    post:
      operationId: listingrequest_submit_postSubmitListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listing-requests/{id}/unassign:
    post:
      operationId: listingrequest_unassign_postUnassignListingRequest
      description: ''
      tags:
      - Listings
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this listing request.
        schema:
          type: string
      responses:
        '200':
          description: ''
  /listings:
    get:
      operationId: listing_list_listListings
      description: ''
      tags:
      - Listings
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: contract.id
        description: '**Filter for: contract.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract__id
        description: '**Filter for: contract__id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract__marketplace__name
        description: '**Filter for: contract__marketplace__name**


          lookups: eq, ne, like, ilike, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: created
        description: '**Filter for: created**


          lookups: eq, ne, ge, gt, le, lt, in, out

          ordering: true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: '**Filter for: id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: '**Filter for: marketplace.id**


          lookups: eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
[...]
