openapi: 3.0.3
info:
  description: "[CloudBlue Connect](https://connect.cloudblue.com)\nis a cloud end-to-end\
    \ supply automation platform that joins service vendor and service provider efforts\n\
    to reach their business goals most effectively and efficiently. For this purpose,\
    \ it provides a highly\ncustomizable service to arrange various integrated business\
    \ flows, including contract management, product\ninformation flow, ordering and\
    \ fulfillment, subscription management, and resource usage reporting.\n\nConnect\
    \ REST API provides you with the lowest-level access to the functionality of the\
    \ Connect Platform.\nAll other integration methods, like our Portals, [SDKs](https://connect.cloudblue.com/community/sdk/)\n\
    and [Extensions](https://connect.cloudblue.com/community/extensions/) are built\
    \ on top of the REST API layer.\n\nPlease visit our [Community Portal](https://connect.cloudblue.com/community)\
    \ for more information.\n\n\n\n> \u26A0 This file was generated on Fri May 30\
    \ 10:59:38 2025 (UTC) and may not be updated.\nPlease download the latest version\
    \ at\n[https://apispec.connect.cloudblue.com/connect-openapi30.yml](https://apispec.connect.cloudblue.com/connect-openapi30.yml]).\n"
  title: CloudBlue Connect API
  version: '37.0'
servers:
- url: https://api.connect.cloudblue.com/public/v1
security:
- Apikey0: []
paths:
  /subscriptions/assets:
    get:
      operationId: subscriptions_assets_list_listSubscriptions
      description: ''
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.offset'
      - name: billing.next_date
        description: 'Filter for: billing.next_date


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: billing.period.uom
        description: 'Filter for: billing.period.uom


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
          - years_6
      - name: connection.hub.id
        description: 'Filter for: connection.hub.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.hub.name
        description: 'Filter for: connection.hub.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.id
        description: 'Filter for: connection.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.id
        description: 'Filter for: connection.provider.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.name
        description: 'Filter for: connection.provider.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.type
        description: 'Filter for: connection.type


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
          - preview
      - name: connection.vendor.id
        description: 'Filter for: connection.vendor.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.vendor.name
        description: 'Filter for: connection.vendor.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.id
        description: 'Filter for: contract.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** CRD-00000-00000-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: 'Filter for: events.created.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: 'Filter for: events.updated.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: external_id
        description: 'Filter for: external_id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: external_uid
        description: 'Filter for: external_uid


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: items
        description: 'Filter for: items


          **lookups:** '
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: 'Filter for: marketplace.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** MP-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: 'Filter for: marketplace.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.id
        description: 'Filter for: params.id


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.name
        description: 'Filter for: params.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.value
        description: 'Filter for: params.value


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: pending_request
        description: "This filter is used for explicit select. For example, select(pending_request).\
          \ If you need to treat pending_request data in your application for assets,\
          \ please consider adding this select(pending_request) into your request.\n\
          \n**lookups:** \n\n**default:** *hidden*"
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: pending_request.template
        description: "This filter is used for explicit select. For example, select(pending_request.template).\
          \ If you need to treat pending_request.template data in your application\
          \ for assets, please consider adding this select(pending_request.template)\
          \ into your request.\n\n**lookups:** \n\n**default:** *hidden*"
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.id
        description: 'Filter for: product.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.name
        description: 'Filter for: product.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: 'Filter for: status


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - processing
          - active
          - terminating
          - suspended
          - terminated
      - name: template
        description: "This filter is used for explicit select. For example, select(template).\
          \ If you need to treat template.id or template.name data in your application\
          \ for assets, please consider adding this select(template) into your request.\n\
          \n**lookups:** \n\n**default:** *hidden*"
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.id
        description: 'Filter for: tiers.customer.id


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.name
        description: 'Filter for: tiers.customer.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier1.id
        description: 'Filter for: tiers.tier1.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier2.id
        description: 'Filter for: tiers.tier2.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriptions.Subscriptions'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/assets/{id}:
    get:
      operationId: subscriptions_assets_detail_retrieveSubscription
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Subscription.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.Subscription'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests:
    get:
      operationId: subscriptions_requests_list_listBillingRequests
      description: ''
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/subscriptions.RQLContentRangeLimitOffsetPagination.offset'
      - name: asset.billing.next_date
        description: 'Filter for: asset.billing.next_date


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: asset.billing.period.uom
        description: 'Filter for: asset.billing.period.uom


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
          - years_6
      - name: asset.connection.hub.id
        description: 'Filter for: asset.connection.hub.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.hub.name
        description: 'Filter for: asset.connection.hub.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.id
        description: 'Filter for: asset.connection.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.provider.id
        description: 'Filter for: asset.connection.provider.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.provider.name
        description: 'Filter for: asset.connection.provider.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.type
        description: 'Filter for: asset.connection.type


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
          - preview
      - name: asset.connection.vendor.id
        description: 'Filter for: asset.connection.vendor.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.connection.vendor.name
        description: 'Filter for: asset.connection.vendor.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.contract.id
        description: 'Filter for: asset.contract.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** CRD-00000-00000-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.external_id
        description: 'Filter for: asset.external_id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.external_uid
        description: 'Filter for: asset.external_uid


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.id
        description: 'Filter for: asset.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.marketplace.id
        description: 'Filter for: asset.marketplace.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** MP-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.marketplace.name
        description: 'Filter for: asset.marketplace.name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.params.name
        description: 'Filter for: asset.params.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.params.value
        description: 'Filter for: asset.params.value


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.product.id
        description: 'Filter for: asset.product.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.product.name
        description: 'Filter for: asset.product.name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.customer.id
        description: 'Filter for: asset.tiers.customer.id


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.customer.name
        description: 'Filter for: asset.tiers.customer.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.tier1.id
        description: 'Filter for: asset.tiers.tier1.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: asset.tiers.tier2.id
        description: 'Filter for: asset.tiers.tier2.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: 'Filter for: events.created.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.at
        description: 'Filter for: events.updated.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: period.from
        description: 'Filter for: period.from


          **lookups:** eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: period.to
        description: 'Filter for: period.to


          **lookups:** eq, ne, ge, gt, le, lt, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: period.uom
        description: 'Filter for: period.uom


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - monthly
          - yearly
          - years_2
          - years_3
          - years_4
          - years_5
          - years_6
      - name: type
        description: 'Filter for: type


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - vendor
          - provider
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
    post:
      operationId: subscriptions_requests_list_createBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions.NewBillingRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests/{id}:
    get:
      operationId: subscriptions_requests_detail_retrieveBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Request.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.BillingRequest'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /subscriptions/requests/{id}/attributes:
    put:
      operationId: subscriptions_requests_attributes_putAttributesBillingRequest
      description: ''
      tags:
      - Subscriptions
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions.Attribute'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptions.Attribute'
          description: ''
        '400':
          $ref: '#/components/responses/subscriptions.any_400'
  /agreements:
    get:
      operationId: dp_agreement_list_listAgreements
      description: ''
      tags:
      - Agreements
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: active
        description: 'Filter for: active


          **lookups:** eq, ne'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: created
        description: 'Filter for: created


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: forms.id
        description: 'Filter for: forms.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: forms__type
        description: 'Filter for: forms__type


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - enroll
          - product
          - item
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: 'Filter for: marketplace.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: 'Filter for: marketplace.name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__id
        description: 'Filter for: marketplace__id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace__name
        description: 'Filter for: marketplace__name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.id
        description: 'Filter for: owner.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner.name
        description: 'Filter for: owner.name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner__id
        description: 'Filter for: owner__id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: owner__name
        description: 'Filter for: owner__name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: title
        description: 'Filter for: title


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: type
        description: 'Filter for: type


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - distribution
          - program
          - service
          - syndication
          - referral
      - name: updated
        description: 'Filter for: updated


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Agreement'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_agreement_list_createAgreement
      description: ''
      tags:
      - Agreements
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - distribution
                  - program
                  - service
                  - sourcing
                  - product
                title:
                  type: string
                description:
                  type: string
                sourcing:
                  type: object
                  properties:
                    type:
                      type: string
                document_type:
                  type: string
                  enum:
                  - external
                  - upload
                link:
                  type: string
                  format: uri
                file:
                  type: string
                  format: binary
                active:
                  type: boolean
              oneOf:
              - required:
                - title
                - description
                - document_type
                - link
              - required:
                - title
                - description
                - document_type
                - file
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Agreement'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/agreements:
    get:
      operationId: dp_agreement_agreements_list_listAgreements
      description: Marketplace (Distribution) Agreements.
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: auto_accept
        description: 'Filter for: auto_accept


          **lookups:** eq, ne


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: 'Filter for: marketplace.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Agreement'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_agreement_agreements_list_createAgreement
      description: Marketplace (Distribution) Agreements.
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Agreement'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Agreement'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/contracts:
    get:
      operationId: dp_agreement_contracts_list_listContracts
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Contract'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_agreement_contracts_list_createContract
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Contract'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Contract'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/marketplaces:
    get:
      operationId: dp_agreement_marketplaces_list_listMarketplaceExtendedReferences
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: countries.id
        description: 'Filter for: countries.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: countries.name
        description: 'Filter for: countries.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: currency
        description: 'Filter for: currency


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLE
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UYW
          - UZS
          - VED
          - VES
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: stats.contracts
        description: 'Filter for: stats.contracts


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.hubs
        description: 'Filter for: stats.hubs


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.MarketplaceExtendedReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_agreement_marketplaces_list_createMarketplaceExtendedReference
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.MarketplaceExtendedReference'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.MarketplaceExtendedReference'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/marketplaces/{id}:
    delete:
      operationId: dp_agreement_marketplaces_detail_destroyMarketplaceExtendedReference
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /agreements/{agreement_id}/partners:
    get:
      operationId: dp_agreement_partners_list_listContracts
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: agreement.id
        description: 'Filter for: agreement.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement.name
        description: 'Filter for: agreement.name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.id
        description: 'Filter for: contract.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.status
        description: 'Filter for: contract.status


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - new
          - enrolling
          - pending
          - active
          - terminated
          - rejected
      - name: contract.version
        description: 'Filter for: contract.version


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: events.countersigned.at
        description: 'Filter for: events.countersigned.at


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.countersigned.by.id
        description: 'Filter for: events.countersigned.by.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: 'Filter for: events.created.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.created.by.id
        description: 'Filter for: events.created.by.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.by.name
        description: 'Filter for: events.created.by.name


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.signed.at
        description: 'Filter for: events.signed.at


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.signed.by.id
        description: 'Filter for: events.signed.by.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: role
        description: 'Filter for: role


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - vendor
          - distributor
          - reseller
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.PartnerReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /agreements/{agreement_id}/product-groups:
    get:
      operationId: dp_agreement_product_groups_list_listProductGroups
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: events.created.at
        description: 'Filter for: events.created.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.created.by.id
        description: 'Filter for: events.created.by.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.by.name
        description: 'Filter for: events.created.by.name


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.updated.at
        description: 'Filter for: events.updated.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.by.id
        description: 'Filter for: events.updated.by.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.updated.by.name
        description: 'Filter for: events.updated.by.name


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: stats.agreements
        description: 'Filter for: stats.agreements


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.contracts
        description: 'Filter for: stats.contracts


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.products
        description: 'Filter for: stats.products


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductGroupReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_agreement_product_groups_list_createProductGroup
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.ProductGroupReference'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductGroupReference'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/product-groups/{id}:
    delete:
      operationId: dp_agreement_product_groups_detail_destroyProductGroup
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: A unique value identifying this Product Group.
        schema:
          type: string
      responses:
        '204':
          description: ''
  /agreements/{agreement_id}/products:
    get:
      operationId: dp_agreement_products_list_listProducts
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: category.id
        description: 'Filter for: category.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: category.name
        description: 'Filter for: category.name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Product'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /agreements/{agreement_id}/products/{product_id}/marketplaces:
    get:
      operationId: dp_agreement_products_marketplaces_list_listMarketplaces
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: product_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: countries.id
        description: 'Filter for: countries.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: countries.name
        description: 'Filter for: countries.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: currency
        description: 'Filter for: currency


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLE
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UYW
          - UZS
          - VED
          - VES
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: stats.contracts
        description: 'Filter for: stats.contracts


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.hubs
        description: 'Filter for: stats.hubs


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.MarketplaceReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /agreements/{agreement_id}/versions:
    get:
      operationId: dp_agreement_versions_list_listAgreementVersions
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.AgreementVersion'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_agreement_versions_list_createAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.AgreementVersionCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.AgreementVersion'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /agreements/{agreement_id}/versions/{version}:
    get:
      operationId: dp_agreement_versions_detail_retrieveAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.AgreementVersion'
          description: ''
    delete:
      operationId: dp_agreement_versions_detail_destroyAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
  /agreements/{agreement_id}/versions/{version}/activate:
    post:
      operationId: dp_agreement_versions_activate_postActivateAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: ''
  /agreements/{agreement_id}/versions/{version}/document:
    get:
      operationId: dp_agreement_versions_document_getDocumentAgreementVersion
      description: ''
      tags:
      - Agreements
      parameters:
      - name: agreement_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '302':
          description: ''
  /agreements/{id}:
    get:
      operationId: dp_agreement_detail_retrieveAgreement
      description: Get base object or redirect to object version.
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Agreement.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Agreement'
          description: ''
    put:
      operationId: dp_agreement_detail_updateAgreement
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Agreement.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: dp_agreement_detail_destroyAgreement
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Agreement.
        schema:
          type: string
      responses:
        '204':
          description: ''
  /agreements/{id}/document:
    get:
      operationId: dp_agreement_document_getDocumentAgreement
      description: ''
      tags:
      - Agreements
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Agreement.
        schema:
          type: string
      responses:
        '302':
          description: ''
  /assets:
    get:
      operationId: dp_asset_list_listSubscriptions
      description: 'Subscription endpoints allows the listing of Subscription objects
        and rendering

        the Control Panel template.'
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/dp.MySQLandRQL1000Pagination.limit'
      - $ref: '#/components/parameters/dp.MySQLandRQL1000Pagination.offset'
      - name: configuration
        description: 'This filter is used for explicit negative select. For example,
          select(-configuration). It will not return "configuration" object in the
          response. Please consider using this negative select if in your application
          you do not need to treat "configuration" object, it may dramatically increase
          /assets API performance.


          **lookups:** '
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.hub.id
        description: 'Filter for: connection.hub.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** HB-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.hub.name
        description: 'Filter for: connection.hub.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.id
        description: 'Filter for: connection.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** CT-0000-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.id
        description: 'Filter for: connection.provider.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.provider.name
        description: 'Filter for: connection.provider.name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.type
        description: 'Filter for: connection.type


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - test
          - production
      - name: connection.vendor.id
        description: 'Filter for: connection.vendor.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: connection.vendor.name
        description: 'Filter for: connection.vendor.name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.id
        description: 'Filter for: contract.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** CRD-00000-00000-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: created
        description: 'Filter for: created


          **lookups:** gt, lt


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: external_id
        description: 'Filter for: external_id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: external_uid
        description: 'Filter for: external_uid


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.id
        description: 'Filter for: hub.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **null:** HB-0000-0000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: hub.name
        description: 'Filter for: hub.name


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: items
        description: 'This filter is used for explicit negative select. For example,
          select(-items). It will not return "items" list in the response. Please
          consider using this negative select if in your application you do not need
          to treat "items" list, it may dramatically increase /assets API performance.


          **lookups:** '
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.id
        description: 'Filter for: marketplace.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true


          **null:** MP-00000, null()'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: marketplace.name
        description: 'Filter for: marketplace.name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.id
        description: 'Filter for: params.id


          **lookups:** eq, ne, like, ilike, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: params.value
        description: 'Filter for: params.value


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: pending_request
        description: "This filter is used for explicit select. For example, select(pending_request)\
          \ will include the \"pending_request\" object in the response. For performance\
          \ reasons, use select(pending_request) only if you need this object.\n\n\
          **lookups:** \n\n**default:** *hidden*"
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: pending_request.template
        description: "This filter is used for explicit select. For example, select(pending_request.template)\
          \ will include the \"pending_request\" object in the response, which in\
          \ turn will include the \"template\" object. For performance reasons, use\
          \ select(pending_request.template) only if you need this object.\n\n**lookups:**\
          \ \n\n**default:** *hidden*"
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.id
        description: 'Filter for: product.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.name
        description: 'Filter for: product.name


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: product.title
        description: 'Filter for: product.title


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: status
        description: 'Filter for: status


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - draft
          - processing
          - active
          - terminating
          - suspended
          - terminated
      - name: template
        description: "This filter is used for explicit select. For example, select(template).\
          \ If you need to treat template.id or template.name data in your application\
          \ for assets, please consider adding this select(template) into your request.\n\
          \n**lookups:** \n\n**default:** *hidden*"
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: template.id
        description: 'Filter for: template.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.external_id
        description: 'Filter for: tiers.customer.external_id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.external_uid
        description: 'Filter for: tiers.customer.external_uid


          **lookups:** eq, ne, like, ilike, in, out


          **search:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.id
        description: 'Filter for: tiers.customer.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.customer.name
        description: 'Filter for: tiers.customer.name


          **lookups:** eq, ne, like, ilike, null, in, out


          **search:** true


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier1.id
        description: 'Filter for: tiers.tier1.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: tiers.tier2.id
        description: 'Filter for: tiers.tier2.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: updated
        description: 'Filter for: updated


          **lookups:** gt, lt


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Subscription'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /assets/{asset_id}/requests:
    get:
      operationId: dp_asset_requests_list_listSubscriptions
      description: ''
      tags:
      - Assets
      parameters:
      - name: asset_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.RQL1000Pagination.limit'
      - $ref: '#/components/parameters/dp.RQL1000Pagination.offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.RequestReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /assets/{id}:
    get:
      operationId: dp_asset_detail_retrieveSubscription
      description: obtains a concrete asset identified by it's id
      tags:
      - Assets
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this subscription.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Subscription'
          description: ''
  /assets/{id}/render:
    get:
      operationId: dp_asset_render_getRenderSubscription
      description: Render linked template to the asset using the parameters from the
        asset
      tags:
      - Assets
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this subscription.
        schema:
          type: string
      - name: Connect-Localization
        in: header
        description: 'This is an **optional** header. Providing this header will allow
          you to receive localized result of this API. The system will fetch available
          template translations from localization service under your account and will
          provide translated rendered template. **Accepted values**: `AF, AR, AR-DZ,
          AST, AZ, BE, BG, BN, BR, BS, CA, CS, CY, DA, DE, DSB, EL, EN, EN-AU, EN-GB,
          EO, ES, ES-AR, ES-CO, ES-MX, ES-NI, ES-VE, ET, EU, FA, FI, FR, FY, GA, GD,
          GL, HE, HI, HR, HSB, HU, HY, IA, ID, IG, IO, IS, IT, JA, KA, KAB, KK, KM,
          KN, KO, KY, LB, LT, LV, MK, ML, MN, MR, MY, NB, NE, NL, NN, NO, OS, PA,
          PL, PT, PT-BR, RO, RU, SK, SL, SQ, SR, SR-LATN, SV, SW, TA, TE, TG, TH,
          TK, TR, TT, UDM, UK, UR, UZ, VI, ZH-CN, ZH-HANS, ZH-HANT, ZH-HK, ZH-MO,
          ZH-MY, ZH-SG, ZH-TW.` As an alternative, you can also provide in this header
          the exact translation id you would like to use, i.e. `TRN-1234-5678-9101`.
          Such translation must exist under your account in localization service,
          it may or may not be active.'
        schema:
          $ref: '#/components/headers/Connect-Localization'
      responses:
        '200':
          description: ''
          content:
            text/markdown:
              schema:
                type: string
                example: '

                  # Sample Activation Template


                  Activation template is used to share details of the **successful**
                  subscription creation with

                  the user. Once purchase request is approved, this template is used
                  to

                  generate user-visible notification.


                  This template uses **[Markdown](https://en.wikipedia.org/wiki/Markdown)**
                  syntax and allows

                  to use Parameters of the product which has scope ''Subscription''.


                  ### Formatting


                  Markdown allows you to control various aspects of the document:


                  1. Text formatting like **bold** or *italic*

                  2. Images embedding

                  3. Lists

                  4. and more


                  ### Parameters


                  You can refer to the Parameters using their ID, like in the following
                  example:


                  * The value of **Title of the Parameter A** is **PARAMETER A VALUE**

                  * The value of **Title of the Parameter B** is **PARAMETER B VALUE**


                  You can also embed pictures like the one below:


                  ![logo](https://domain.com/image.jpg)

                  '
          headers:
            Connect-Localization:
              description: This is an **optional** header. Locale id of the returned
                data according to Connect Localization service configuration under
                your account.
              schema:
                type: string
  /catalog/groups:
    get:
      operationId: dp_catalog_groups_list_listProductGroups
      description: '# Create and manage Product Groups.'
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: events.created.at
        description: 'Filter for: events.created.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.created.by.id
        description: 'Filter for: events.created.by.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.by.name
        description: 'Filter for: events.created.by.name


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.updated.at
        description: 'Filter for: events.updated.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.updated.by.id
        description: 'Filter for: events.updated.by.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.updated.by.name
        description: 'Filter for: events.updated.by.name


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: stats.agreements
        description: 'Filter for: stats.agreements


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.contracts
        description: 'Filter for: stats.contracts


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: stats.products
        description: 'Filter for: stats.products


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ProductGroup'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_catalog_groups_list_createProductGroup
      description: '# Create and manage Product Groups.'
      tags:
      - Catalog
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductGroup'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /catalog/groups/{id}:
    get:
      operationId: dp_catalog_groups_detail_retrieveProductGroup
      description: '# Create and manage Product Groups.'
      tags:
      - Catalog
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Product Group.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductGroup'
          description: ''
    put:
      operationId: dp_catalog_groups_detail_updateProductGroup
      description: '# Create and manage Product Groups.'
      tags:
      - Catalog
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Product Group.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.ProductGroup'
          description: ''
        '400':
          $ref: '#/components/responses/dp.update_400'
    delete:
      operationId: dp_catalog_groups_detail_destroyProductGroup
      description: '# Create and manage Product Groups.'
      tags:
      - Catalog
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this Product Group.
        schema:
          type: string
      responses:
        '204':
          description: ''
  /catalog/groups/{product_group_id}/agreements:
    get:
      operationId: dp_catalog_group_agreements_list_listAgreements
      description: '# Collection of Product Group Agreements.'
      tags:
      - Catalog
      parameters:
      - name: product_group_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.AgreementReferenceWithDescription'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /catalog/groups/{product_group_id}/partners:
    get:
      operationId: dp_catalog_group_partners_list_listContracts
      description: '# Collection of Product Group Partners.'
      tags:
      - Catalog
      parameters:
      - name: product_group_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: agreement.id
        description: 'Filter for: agreement.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: agreement.name
        description: 'Filter for: agreement.name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.id
        description: 'Filter for: contract.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: contract.status
        description: 'Filter for: contract.status


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - new
          - enrolling
          - pending
          - active
          - terminated
          - rejected
      - name: contract.version
        description: 'Filter for: contract.version


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: integer
      - name: events.countersigned.at
        description: 'Filter for: events.countersigned.at


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.countersigned.by.id
        description: 'Filter for: events.countersigned.by.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.at
        description: 'Filter for: events.created.at


          **lookups:** eq, ne, ge, gt, le, lt, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.created.by.id
        description: 'Filter for: events.created.by.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.created.by.name
        description: 'Filter for: events.created.by.name


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: events.signed.at
        description: 'Filter for: events.signed.at


          **lookups:** eq, ne, ge, gt, le, lt, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          format: date-time
      - name: events.signed.by.id
        description: 'Filter for: events.signed.by.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true


          **default:** *hidden*'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: role
        description: 'Filter for: role


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - vendor
          - distributor
          - reseller
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.PartnerReference'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /catalog/groups/{product_group_id}/products:
    get:
      operationId: dp_catalog_group_products_list_listProducts
      description: '# Collection of Product Group Products.'
      tags:
      - Catalog
      parameters:
      - name: product_group_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.limit'
      - $ref: '#/components/parameters/dp.LimitOffsetContentRangePagination.offset'
      - name: category.id
        description: 'Filter for: category.id


          **lookups:** eq, ne, like, ilike, null, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: category.name
        description: 'Filter for: category.name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: id
        description: 'Filter for: id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: name
        description: 'Filter for: name


          **lookups:** eq, ne, like, ilike, in, out


          **ordering:** true'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.Product'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
    post:
      operationId: dp_catalog_group_products_list_createProduct
      description: '# Collection of Product Group Products.'
      tags:
      - Catalog
      parameters:
      - name: product_group_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dp.Product'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Product'
          description: ''
        '400':
          $ref: '#/components/responses/dp.create_400'
  /catalog/groups/{product_group_id}/products/{id}:
    delete:
      operationId: dp_catalog_group_products_detail_destroyProduct
      description: '# Collection of Product Group Products.'
      tags:
      - Catalog
      parameters:
      - name: product_group_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Product ID
        schema:
          type: string
      responses:
        '204':
          description: ''
  /categories:
    get:
      operationId: dp_category_list_listListCategories
      description: 'This API of system product categories is DEPRECATED. Please, use
        PIM

        Categories and Taxonomies APIs instead to handle product categorization per
        Distributor.'
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/dp.CategoriesPagination.limit'
      - $ref: '#/components/parameters/dp.CategoriesPagination.offset'
      - name: family.id
        description: 'Filter for: family.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      - name: parent.id
        description: 'Filter for: parent.id


          **lookups:** eq, ne, like, ilike, null, in, out'
        in: query
        required: false
        deprecated: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dp.ListCategory'
          description: ''
          headers:
            Content-Range:
              $ref: '#/components/headers/Content-Range'
  /categories/{id}:
    get:
      operationId: dp_category_detail_retrieveCategory
      description: 'This API of system product categories is DEPRECATED. Please, use
        PIM

        Categories and Taxonomies APIs instead to handle product categorization per
        Distributor.'
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dp.Category'
          description: ''
  /contracts:
    get:
      operationId: dp_contract_list_listContracts
      description: ''
      tags:
      - Contracts
      parameters:
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.limit'
      - $ref: '#/components/parameters/dp.RQLContentRangeLimitOffsetPagination.offset'
      - name: agreement.id
        description: 'Filter for: agreement.id


[...]
